.topVP{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.376);
    gap: 1.5rem;
    padding-top: 1rem;
}

.topVP img{
    width: 3rem;
    height: 3rem;
}